body {
    background-image: url("https://www.hankooktire-mediacenter.com/fileadmin/_processed_/1/c/csm_20160921_SmartTouring_AL22_Bus_79d7d638cb.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
.wrapper {
    margin-top:150px;
    width: 420px;
    background: transparent;
    margin-left: 450px;
    text-align: center;

}
.input-box input {
    width: 300px;
    height: 50px;
    background: transparent;
    border: none;
    outline:none;
    border: 2px solid rgb(31, 120, 246);
    border-radius:15px
}
.input-box input::placeholder {
    color: black;
    font-size: 15px;
}
.wrapper .remember-forgot {
    font-size: 15px;
}
.rember-forgot label input {
    accent-color: black;
}
.remember-forgot a {
    color: black;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}
.wrapper h1{
    font-size:50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.wrapper .btn {
    width: 300px;
    height: 50px;
    background:transparent;
    outline: none;
    border: 2px solid rgb(31, 120, 246);
    border-radius: 45px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: black;
    font-weight: 100;
}
.register-link a {
    color: black;
    text-decoration: none;
}
.register-link a:hover{
    text-decoration: underline;
}

